.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 7px;

  color: var(--color-text-secondary);

  font-size: 14px;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-muted);
}