.container {
    width: 100%;
    max-width: 1680px;

    margin: 0 auto;

    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
  .container {
    width: min(
      calc(100% - 48px),
      var(--container-max-width)
    );
  }
}